$nav-color = #ffffffa3
$index_site_info_top = 43%
$dark-black = #000000
$light-grey = #EEEEEE
$grey = #858585
--font-color =  #212121
$light-blue = $theme-color
$theme-color = $themeColorEnable && hexo-config('custom.color.main') ? convert(hexo-config('custom.color.main')) : $bright-blue
$bright-blue = #49B1F5
$white = #FFFFFF
--sidebar-bg = #f6f8fa
--text-bg-hover = #49b1f5