nav#page-nav
  span#blog_name
    a#site_name(href=url_for('/')) #[=config.title]
    
  #menus
    if theme.local_search.enable
      #search-button
        a.site-page.social-icon.search
          i.fas.fa-search.fa-fw
          span=' '+_p('search')
    !=fragment_cache('menus', function(){return partial('includes/header/menu_item')})

    #toggle-menu
      a.site-page
        i.fas.fa-bars.fa-fw
